/* escribe tu código CSS aquí */
body{
	background-color: #EDEDED;
	margin: 0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
}
a{
	font-size: 1.5em;
	color: #898989;
	text-decoration: none;
}
a:hover {
	color: #000;
}
.container{
	margin: center;
	padding-top:20px; 
}

.menu i{
	color: #898989;
	cursor: pointer;
}
.submenu{
	width: 30%;
	margin: auto;
	background-color: white;
	padding: 2%;
}
.menu .submenu{
	padding-top: 12px;
}
menu > li >a{
	line-height: 4em;
	padding: 0 0.3em;
	font-size: 1.2em;
	display: block;
	color: #fff;
}
.menu ul{
	list-style: none;
}
.menu > li {
	display: inline-block;
	margin: 0 2.6em;
	position: relative;
}

.menu{
	text-align: center;
	height: 25px;
	cursor: pointer !important;
	overflow: hidden;
	-webkit-transition: height 0.2s 0.300s;
}
.menu:active,
.menu:hover{
	height: 150px;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	margin: auto;
}